.*.lck
*.pro
*~
~$*
*.l#?
*.s#?
*.b#?
starter
.release
*.cam
.DS_Store
.test.out
.theia/
test
firmware/libraries/Adafruit_BusIO/
firmware/libraries/Adafruit_LSM6DS/
firmware/libraries/Adafruit_LIS3MDL/
firmware/libraries/QuadClass-AHRS/
firmware/libraries/QuadClass-LSM9DS1/
firmware/libraries/QuadClass-Sensor/
firmware/libraries/SparkFun_SerLCD_Arduino_Library
firmware/libraries/SoftI2CMaster/
firmware/hardware/QuadClass-Atmega128RFA-Arduino-Addon/
QuadClass-Quadcopter-Starter-*
firmware/test_*/

